:root{
    --backgroundcolor: rgb(230, 230, 230);
    --sectioncolor: white;
    --garchigcolor: rgb(176, 176, 176);
    --fontcolor: black;
    --maincolor: #FD9545;
    --darkfont: white;
    --darkbackground: #2e2e2e;
    --darksection: #646464;
}

main{
    padding-top: 4rem;
    display: flex;
    background-color: var(--backgroundcolor);
}
.zuun{
    width: 70%;
    margin: 2rem;
}

.deedheseg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
    padding: 0 1rem;
}

article{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    background-color: var(--sectioncolor);
    display: flex;
    border-radius: 1rem;
}

.baraa a {
    display: flex;
    text-decoration: none;
    width: 100%;
}

.baraa img{
    height: 12rem;
    width: 30%;
    border-radius: 1rem;
}

.baraa .garchig {
    display: flex;
    flex-direction: column;
}

.baraa .itemTitle {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: var(--fontcolor)
}

.baraa .medeelel {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}

.baraa .itemDescription,
.baraa .itemLocation,
.baraa .itemDuration,
.baraa .itemPrice {
    font-size: 1rem;
    color: var(--fontcolor);
}

.baraa .doodheseg {
    display: flex;
    align-items: end;
}

.ustgahTovch{
    right: 0;
    border-color: var(--maincolor);
    color: var(--maincolor);
    background-color: transparent;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
}

.ustgahTovch:hover{
    border-color: var(--maincolor);
    color: var(--darkfont);
    background-color: var(--maincolor);
}

.baruun{
    width: 30%;
    margin-top: 4rem;
    }
    
    .zahialga{
    width: 100%;
    background-color: var(--sectioncolor);
    border-radius: 1rem;
    padding: 1rem;
}

.zahialga ul li{
    list-style: none;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/* darkmode */
body.darkmode main{
    background-color: var(--darkbackground);
    color: var(--darkfont);
}

.zuun, .baruun {
    transition: background-color 0.3s, color 0.3s;
}

body.darkmode .zahialga,
body.darkmode article {
    background-color: var(--darksection);
    color: var(--darkfont);
}

body.darkmode a{
    color: var(--darkfont);
}


/* mobile */

@media screen and (max-width: 768px) {
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .zuun, .baruun{
        width: 100%;
        padding: 1rem;
        margin-top: 0;
    }
    article img{
        width: 13rem;
    }
    .tailbar1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

  .baraa a {
    flex-direction: column;
  }
  
  .baraa img {
    width: 100%;
    height: 200px;
  }
  
  .baraa .info-wrapper {
    grid-template-columns: 1fr;
  }
}