
:root{
    --backgroundcolor: rgb(230, 230, 230);
    --sectioncolor: rgb(250, 250, 250);
    --garchigcolor: rgb(176, 176, 176);
    --fontcolor: black;
    --maincolor: #FD9545;
    --darkfont: white;
    --darkbackground: #2e2e2e;
    --darksection: #3b3b3b;
    --darkfontsoft: rgb(212, 212, 212);
}

main{
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--backgroundcolor);
}


.zuun{
    padding: 1rem;
    width: 20%;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: var(--sectioncolor);
    gap: 1rem;
    height: 60%;
}

.zuun ul li{
    list-style: none;
}
.zuun ul li a{
    color: var(--fontcolor);
}
.garchig{
    background-color: var(--garchigcolor);
    font-size: 1rem;
}

.baruun{
    width: 70%;
}



#aylluud {
    display: grid;
    gap: 2rem;
    grid-template-columns: auto auto;
    padding: 1rem;
  }
  
 
/* darkmode */

body.darkmode main{
    background-color: var(--darkbackground);
    color: var(--darkfont);
}

  .zuun, .baruun {
    transition: background-color 0.3s, color 0.3s;
}

body.darkmode .zuun,
body.darkmode .searchmain,
body.darkmode article {
    background-color: var(--darksection);
    color: var(--darkfontsoft);
}

body.darkmode .garchig{
    background-color: var(--darkbackground);
}

body.darkmode section a{
    color: var(--darkfontsoft);
}

body.darkmode ul li a{
    color: var(--darkfontsoft);
}

input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(270deg, #FD9545, #ddd);
    height: 1rem;
    border-radius: 1rem;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    background: rgb(179, 179, 179);
    border-radius: 50%;
    cursor: pointer;
  }
/* mobile gar utasnii heseg */


/* mobile main body */

@media screen and (max-width: 768px) {
    .zuun{
        display: none;
    }
    .aylluud{
        display: flex;
        gap: 2rem;
        flex-direction: column;
        padding: 1rem;
        width: 100%;
    }
    .baruun{
        width: 100%;
    }
}
/* mobile search */
.search-mobile{
    display: none;
}

@media screen and (max-width: 768px) {
    .search-mobile {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--backgroundcolor);
        z-index: 1000;
        overflow-y: auto;
        padding-bottom: 10rem;
        width: 100%;
    }

    .search-header {
        padding: 1rem;
        width: 100%;
        border-bottom: 1px solid #eee;
        position: sticky;
        top: 0;
        background: var(--sectioncolor);
    }

    .search-input {
        width: 100%;
        padding: 1rem 3rem;
        border: 1px solid #eee;
        border-radius: 1rem;
        font-size: 1rem;
        background: #f5f5f5;
    }

    .search-input::placeholder {
        color: #666;
    }

    .category-list {
        list-style: none;
    }

    .category-item {
        display: flex;
        align-items: center;
        padding: 1rem 2rem;
        fill: #666;
        color: #666;
        text-decoration: none;
    }

    .category-item.active {
        color: var(--maincolor);
    }

    .category-item svg {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
    }
    
    .garchig{
        color: #666;
        margin: 1rem;
        background-color: transparent;
    }

    .select {
        width: 100%;
        padding: 1rem;
        border: 1px solid #eee;
        border-radius: 1rem;
        margin: 1rem;
        font-size: 1rem;
        color: #666;
        background: white;
        appearance: none;
    }

    .search-button {
        position: fixed;
        bottom: 5rem;
        left: 1rem;
        right: 1rem;
        padding: 1rem;
        background: var(--maincolor);
        color: white;
        border: none;
        border-radius: 0.5rem;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .close-button {
        position: fixed;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background: #f5f5f5;
        font-size: 1rem;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    }

}





  .aylluud article[style="display: none;"] {
    opacity: 0;
    transform: scale(0.9);
    pointer-events: none;
  }





  